<footer class="footer">
  <div class="footer-brand mobile-only">
    <img src="assets/images/icons/logo_v2.svg" alt="Logo ProP GMS" class="footer-logo" />
    <p>GreatBuild</p>
  </div>

  <div class="footer-columns">
    <div class="footer-brand desktop-only">
      <img src="assets/images/icons/logo_v2.svg" alt="Logo ProP GMS" class="footer-logo" />
      <p>GreatBuild</p>
    </div>

    <div class="footer-column">
      <h4>{{'footer.learn-about.title' | translate}}</h4>
      <a>FAQ</a>
      <a>{{'footer.learn-about.privacy-policy' | translate}}</a>
      <app-terms-and-conditions></app-terms-and-conditions>
    </div>

    <div class="footer-column">
      <h4>{{'footer.contact-us' | translate}}</h4>
      <a>+51 930 180 813</a>
      <a>ventas&#64;greatbuild.com</a>
      <a>Las Flores 22 Sta. Elizabeth II Etapa, <br> San Juan de Lurigancho.</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright &copy; 2025 GreatBuild. {{'footer.rights' | translate}}</p>
    <div class="footer-social">
      <a href="#"><mat-icon>photo_camera</mat-icon></a>
      <a href="#"><mat-icon>close</mat-icon></a>
      <a href="#"><mat-icon>work</mat-icon></a>
    </div>
  </div>
</footer>
